#video-list{
    padding-inline: 2rem ;
    margin-block: 2rem;
}
#video-list ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
}
.video{
    width: 25rem;
    border-radius: 0.75rem;
    transition: all 200ms ease-in 1s;
    background-color: white;
    z-index: 10;
}
.video:has(.video-thumbnail:hover){
    transform: scale(1.1);
    box-shadow: 2px 1px 5px grey;
    z-index: 100;
}
.video .video-thumbnail{
    position: relative;
    height: 270px;
}
.video .video-thumbnail img{
    border-top-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
}
.video .video-thumbnail p{
    position: absolute;
    bottom: 3%;
    padding: 0.5rem;
    right: 1%;
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    font-weight: bold;
    font-size: 0.75rem;
}
.video .video-thumbnail p.hover{
    display: none;
    opacity: 0;
    transition: all 400ms linear;
}
.video .video-thumbnail:hover p.length{
    display: none;
}
.video .video-thumbnail:hover p.hover{
    display: block;
    opacity: 1;
}
.video .video-content{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.5rem;
    margin-block: 0.5rem;
}
.video .video-content .author-profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.video .video-content .video-info{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
}
.video .video-content .video-info :is(p,a){
    color: #727272;
}
.video .video-content .video-info h3{
    font-weight: 600;
}
@media screen and (max-width: 1000px) {
    #video-list ul{
        justify-content: center;
    }
}
