/*====================== HEADER ====================*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 56px;
    padding: 0 1rem;
    box-sizing: border-box;
    gap: 1rem;
}
header>div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
header #left-menu{
    font-size: 1.25rem;
    font-family: 'Oswald', sans-serif;
}
header #left-menu>i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    transition: all 200ms linear;
}
header #left-menu>i:hover{
    background-color: #CCCCCC;
}
header #left-menu #logo>a{
    display: flex;
    align-items: center;
    gap: 2px;
}
header #left-menu #logo i{
    color: red;
    font-size: 1.5rem;
}
header #left-menu #logo p{
    font-weight: bold;
    color: black;
}

/*============================ Search Bar ================================*/ 
header #search-bar{
    width: 700px;
    border-radius: 2rem;
    border: 1px solid #CCCCCC;
}
header #search-bar form{
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
}
header #search-bar form>div {
    padding: 0.5rem 0.75rem;
}
header #search-bar #search{
    width: -webkit-fill-available;
}
header #search-bar form>#submit{
    width: 7%;
    background-color: #F0F0F0;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-left: 1px solid  #CCCCCC;
    display: flex;
    justify-content: center;
}
header #search-bar form input {
    border: 0;
    width: -webkit-fill-available;
}
input[type="search"]::-webkit-search-cancel-button {
    background: black;
    cursor: pointer;
    width: 50px;
}
header #search-bar form input:focus{
    outline: none;
}
header #search-bar form button{
    border: 0;
    cursor: pointer;
}
header input[type="search"]::-webkit-search-cancel-button{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #000;
}

/*======================== Right menu ===========================*/
header #right-menu{
    padding-right: 1rem;
}
header #right-menu #login{
    border: 1px solid #CCCCCC;
    padding: 0.5rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #065FD4;
    white-space: nowrap;
}
:is(header>div>i){
    cursor: pointer;
}
@media screen and (max-width:630px) {
    header #right-menu{
        display: none;
    }
}